<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.modal.min.css' />

</head>
<script src="/javascripts/jquery.min.js">  </script>
<script src="/javascripts/jquery.modal.min.js">  </script>

<!-- jQuery Modal -->
<script src="/javascripts/exhibit.js">  </script>
<script async src="/javascripts/fp.min.js" onload="initFingerprintJS()"></script>

</script>

<body>
    <div class="App">

        <div class="navBar">
            <div class="langSelect">
                <div id="langEs" class="lang">Español</div>
                <div id="langEn" class="lang">English</div>
            </div>

            <div class="centerVertical">
                <img id="logoImg" src="/images/iirdicon.png" alt="Exhibit Icon" width="400" height="410">
            </div>
        </div>
        <div class="questionContainer fadeInContent">
            <div class="stationHeader">

                <div class="enContent centerVertical">
                    <p class="questionText">Do you agree or disagree that the nation-state is a violent institution?</p>
                </div>
                <div class="esContent centerVertical">
                    <p class="questionText">¿Está de acuerdo o en desacuerdo que el estado-nación es una institución violenta?</p>
                </div>


            </div>
            <div id="ex1" class="modal">
                <div class="modalBody centerVertical">

                    <p class="enContent proceedText">Thank you for submitting you may now proceed to the next station
                    </p>
                    <p class="esContent proceedText">Gracias por su respuesta. Ahora puede pasar a la siguiente estación
                    </p>
                </div>

            </div>
            <div id="ex2" class="modal">
                <div class="modalContent">
                    <div class="modalBody centerVertical">
                        <p id="name"></p>
                    </div>
                </div>
            </div>

            <form class="enContent" id="answerFormen" name="answerForm">
                <div class="radio">
                    <input id="radio-1" name="answerOption" type="radio" value="1">
                    <label for="radio-1" class="radio-label">Agree</label>
                </div>
                <div class="radio">
                    <input id="radio-2" name="answerOption" type="radio" value="2">
                    <label for="radio-2" class="radio-label">Disagree</label>
                </div>

            </form>
            <form class="esContent" id="answerFormes" name="answerForm">
                <div class="radio">
                    <input id="radio-5" name="answerOption" type="radio" value="1">
                    <label for="radio-5" class="radio-label">De acuerdo</label>
                </div>
                <div class="radio">
                    <input id="radio-6" name="answerOption" type="radio" value="2">
                    <label for="radio-6" class="radio-label">Desacuerdo</label>
                </div>
            </form>
            <a id="nextStationLink" href="/selectcountry"></a>

            <div onclick="submitAnswer('stationthree')" class="submitAnswerButton">
                <div class="centerVertical">
                    <p class="enContent optionText">Submit Answer </p>
                    <p class="esContent optionText">Enviar </p>
                </div>
                <div class="centerVertical">
                    <img src="/images/arrow.png" alt="Exhibit Icon" width="70" height="70">
                </div>
            </div>
        </div>
    </div>


    </div>
</body>

</html>