<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.modal.min.css' />

</head>
<script src="/javascripts/jquery.min.js">  </script>
<script src="/javascripts/jquery.modal.min.js">  </script>

<!-- jQuery Modal -->
<script src="/javascripts/exhibit.js">  </script>
<script async src="/javascripts/fp.min.js" onload="initFingerprintJS()"></script>

</script>

<body>
    <div class="App">

        <div class="navBar">
            <div class="langSelect">
                <div id="langEs" class="lang">Español</div>
                <div id="langEn" class="lang">English</div>
            </div>

            <div class="centerVertical">
                <img id="logoImg" src="/images/iirdicon.png" alt="Exhibit Icon" width="400" height="410">
            </div>
        </div>
        <div class="questionContainer fadeInContent">
            <div class="stationHeader">
                <p class="enContent questionText">How close are you to someone who is stateless? </p>
                <p class="esContent questionText">¿Cuál es su cercanía a una persona apátrida? </p>


            </div>
            <div id="ex2" class="modal">
                <div class="modalContent">
                    <div class="modalBody centerVertical">
                        <p id="name"></p>
                    </div>
                </div>
            </div>
            <div id="ex1" class="modal">

                <div class="modalBody centerVertical">
                    <p class="enContent proceedText">Thank you for submitting you may now proceed to the next station</p>
                    <p class="esContent proceedText">Gracias por su respuesta. Ahora puede pasar a la siguiente estación  </p>
                </div>




            </div>

            <form class="enContent" id="answerFormen" name="answerForm">
                <div class="radio">
                    <input id="radio-1" name="answerOption" type="radio" value="1">
                    <label for="radio-1" class="radio-label">Very Close</label>
                </div>
                <div class="radio">
                    <input id="radio-2" name="answerOption" type="radio" value="2">
                    <label for="radio-2" class="radio-label">Somewhat Close </label>
                </div>
                <div class="radio">
                    <input id="radio-3" name="answerOption" type="radio" value="3">
                    <label for="radio-3" class="radio-label">Someone I know is stateless</label>
                </div>
                <div class="radio">
                    <input id="radio-4" name="answerOption" type="radio" value="4">
                    <label for="radio-4" class="radio-label">I don't know anyone</label>
                </div>
            </form>
            <a id="nextStationLink" href="/message"></a>

            <form class="esContent" id="answerFormes" name="answerForm">
                <div class="radio">
                    <input id="radio-5" name="answerOption" type="radio" value="1">
                    <label for="radio-5" class="radio-label">Muy cercano</label>
                </div>
                <div class="radio">
                    <input id="radio-6" name="answerOption" type="radio" value="2">
                    <label for="radio-6" class="radio-label">Algo cercano</label>
                </div>
                <div class="radio">
                    <input id="radio-7" name="answerOption" type="radio" value="3">
                    <label for="radio-7" class="radio-label">Sé de alguien</label>
                </div>
                <div class="radio">
                    <input id="radio-8" name="answerOption" type="radio" value="4">
                    <label for="radio-8" class="radio-label">Nadie</label>
                </div>
            </form>
            <div onclick="submitAnswer('stationtwo')" class="submitAnswerButton">
                <div class="centerVertical">
                    <p class="enContent optionText">Submit Answer </p>
                    <p class="esContent optionText">Enviar </p>
                </div>
                <div class="centerVertical">
                    <img src="/images/arrow.png" alt="Exhibit Icon" width="70" height="70">
                </div>
            </div>
        </div>
    </div>


    </div>
</body>

</html>