<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <script src="/javascripts/exhibit.js">



  </script>
  <script
    async
    src="//cdn.jsdelivr.net/npm/@fingerprintjs/fingerprintjs@3/dist/fp.min.js"
    onload="initFingerprintJS()"
  ></script>

  </script>
  <body>
    
    <div className="App">
        <h2 id="name"></h2>
      
      </div>
  </body>
</html>
