<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.modal.min.css' />

</head>
<script src="/javascripts/jquery.min.js">  </script>
<script src="/javascripts/jquery.modal.min.js">  </script>

<!-- jQuery Modal -->
<script src="/javascripts/exhibit.js">  </script>
<script async src="/javascripts/fp.min.js" onload="initFingerprintJS()"></script>

</script>

<body>
    <div class="App">

        <div class="navBar">
            <div class="langSelect">
                <div id="langEs" class="lang">Español</div>
                <div id="langEn" class="lang">English</div>

            </div>

            <div class="centerVertical">
                <img id="logoImg" src="/images/iirdicon.png" alt="Exhibit Icon" width="400" height="410">
            </div>
        </div>
        <div class="questionContainer fadeInContent">
            <div class="stationHeader">
                <p class="enContent questionText">Thank you! In 20 seconds your results will be printed and you may take them with you.  </p>
                <p class="esContent questionText">Gracias! En 20 segundos sus resultados estarán impresos y se lo puede llevar. </p>

            </div>


            


  
        </div>
    </div>


    </div>
</body>

</html>